.idea
.git
example
gui
.gitignore
README.md
LICENSE
Dockerfile
checkpoints/README.md
checkpoints/V2.3/BirdNET_GLOBAL_3K_V2.3_Model_FP16.tflite
checkpoints/V2.3/BirdNET_GLOBAL_3K_V2.3_Model_INT18.tflite
checkpoints/V2.3/BirdNET_GLOBAL_3K_V2.3_Model
extra-hooks
client.py
gui.py
server.py
species.py
train.py
translate.py
